header {
   background-color: rgb(179, 119, 168);
   padding: 10px 0;
}

main {
    min-height: calc(100vh - 92px);
  }
footer {
    height: 30px;
    background-color: rgb(199, 199, 199);
    padding: 10px 0;
  }